<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>Verify your email address</title>
</head>

<body>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>

	<body style="
				color: #515f7f;
				background-color: #f5f7fa;
				-webkit-text-size-adjust: none;
				font-family: Panton, Avenir, Helvetica, sans-serif;
				box-sizing: border-box;
				height: 100%;
				-ms-hyphens: auto;
				hyphens: auto;
				line-height: 1.4;
				margin: 0;
				-moz-hyphens: auto;
				-ms-word-break: break-all;
				width: 100% !important;
				-webkit-hyphens: auto;
				word-break: break-word;
			">
		<style>
			@media only screen and (max-width: 600px) {
				.inner-body {
					width: 100% !important;
				}

				.footer {
					width: 100% !important;
				}
			}

			@media only screen and (max-width: 500px) {
				.button {
					width: 100% !important;
				}
			}
		</style>
		<table class="wrapper" width="100%" cellpadding="0" cellspacing="0" style="
					font-family: Panton, Avenir, Helvetica, sans-serif;
					box-sizing: border-box;
					background-color: #f5f7fa;
					padding: 0;
					-premailer-cellpadding: 0;
					-premailer-cellspacing: 0;
					margin: 0;
					width: 100%;
					-premailer-width: 100%;
				">
			<tbody>
				<tr>
					<td align="center" style="
								font-family: Panton, Avenir, Helvetica, sans-serif;
								box-sizing: border-box;
							">
						<table class="content" width="100%" cellpadding="0" cellspacing="0" style="
									font-family: Panton, Avenir, Helvetica, sans-serif;
									box-sizing: border-box;
									padding: 0;
									-premailer-cellpadding: 0;
									-premailer-cellspacing: 0;
									margin: 0;
									width: 100%;
									-premailer-width: 100%;
								">
							<tbody>
								<tr>
									<td class="header" style="
												font-family: Panton, Avenir, Helvetica, sans-serif;
												box-sizing: border-box;
												text-align: center;
												padding: 25px 0;
											">
										<a href="<%= url %>auth/VerifyEmail?Code=<%= code %>" style="
													font-family: Panton, Avenir, Helvetica, sans-serif;
													box-sizing: border-box;
													text-decoration: none !important;
													font-weight: 700;
													color: #bbbfc3;
													font-size: 19px;
													text-shadow: 0 1px 0 #fff;
												" target="_blank">
											<img alt="Stemnovate Limited"
												src="https://stemnovate.co.uk/static/image/logo_email.png" width="300"
												style="
														font-family: Panton, Avenir, Helvetica, sans-serif;
														box-sizing: border-box;
														max-width: 100%;
														border: none;
													" /></a>
									</td>
								</tr>
								<!-- Email Body -->
								<tr>
									<td class="body" width="100%" cellpadding="0" cellspacing="0" style="
												font-family: Panton, Avenir, Helvetica, sans-serif;
												box-sizing: border-box;
												margin: 0;
												width: 100%;
												-premailer-width: 100%;
												padding: 0;
												-premailer-cellpadding: 0;
												-premailer-cellspacing: 0;
											">
										<table class="inner-body inner-body-first" align="center" width="570"
											cellpadding="0" cellspacing="0" style="
													font-family: Panton, Avenir, Helvetica, sans-serif;
													box-sizing: border-box;
													padding: 0;
													-premailer-cellpadding: 0;
													-premailer-cellspacing: 0;
													background-color: #fff;
													box-shadow: 0 0 10px 1px #ddd;
													margin: 0 auto;
													width: auto;
													max-width: 570px;
													-premailer-width: 570px;
													border-top: 5px solid #0e939d;
												">
											<!-- Body content -->
											<tbody>
												<tr>
													<td class="content-cell" style="
																font-family: Panton, Avenir, Helvetica,
																	sans-serif;
																box-sizing: border-box;
																padding: 25px;
															">
														<h2 style="
																	color: #2f3133;
																	text-align: left;
																	margin-top: 0;
																	font-weight: 700;
																	font-family: Panton, Avenir, Helvetica,
																		sans-serif;
																	box-sizing: border-box;
																	font-size: 16px;
																">
															Welcome to Stemnovate!
														</h2>
														<p style="
                                                        color: #515f7f;
                                                        margin-top: 0;
                                                        font-family: Panton, Avenir, Helvetica,
                                                            sans-serif;
                                                        box-sizing: border-box;
                                                        text-align: left;
                                                        font-size: 16px;
                                                        line-height: 1.5em;
                                                    ">Hey <%= name %>,</p>
														<p style="
																	color: #515f7f;
																	margin-top: 0;
																	font-family: Panton, Avenir, Helvetica,
																		sans-serif;
																	box-sizing: border-box;
																	text-align: left;
																	font-size: 16px;
																	line-height: 1.5em;
																"><span style="margin-left:30%">&nbsp;</span>
															Thanks for registering an account with Stemnovate. You have
															just joined the Stemnovate community! A community passionate
															about building a better world through innovation and
															reducing animal testing.
														</p>
														<p style="
														color: #515f7f;
														margin-top: 0;
														font-family: Panton, Avenir, Helvetica,
															sans-serif;
														box-sizing: border-box;
														text-align: left;
														font-size: 16px;
														line-height: 1.5em;
													">We need a little more information to complete your registration, including a confirmation of your email
															address. <br />Click below to confirm your email address:
														</p>
														<table class="action" align="center" width="100%"
															cellpadding="0" cellspacing="0" style="
																	font-family: Panton, Avenir, Helvetica,
																		sans-serif;
																	box-sizing: border-box;
																	text-align: center;
																	margin: 30px auto;
																	width: 100%;
																	-premailer-cellpadding: 0;
																	-premailer-cellspacing: 0;
																	-premailer-width: 100%;
																	padding: 0;
																">
															<tbody>
																<tr>
																	<td align="center" style="
																				font-family: Panton, Avenir, Helvetica,
																					sans-serif;
																				box-sizing: border-box;
																			">
																		<table width="100%" border="0" cellpadding="0"
																			cellspacing="0" style="
																					font-family: Panton, Avenir, Helvetica,
																						sans-serif;
																					box-sizing: border-box;
																				">
																			<tbody>
																				<tr>
																					<td align="center" style="
																								font-family: Panton, Avenir,
																									Helvetica, sans-serif;
																								box-sizing: border-box;
																							">
																						<table border="0"
																							cellpadding="0"
																							cellspacing="0"
																							align="center" style="
																									font-family: Panton, Avenir,
																										Helvetica, sans-serif;
																									box-sizing: border-box;
																								">
																							<tbody>
																								<tr>
																									<td style="
																												font-family: Panton,
																													Avenir, Helvetica,
																													sans-serif;
																												box-sizing: border-box;
																											">
																										<a href="<%= url %>auth/VerifyEmail?Code=<%= code %>"
																											class="button button-hcblue"
																											target="_blank"
																											style="
																													font-family: Panton,
																														Avenir, Helvetica,
																														sans-serif;
																													box-sizing: border-box;
																													text-decoration: none !important;
																													-webkit-text-size-adjust: none;
																													color: #fff;
																													border-radius: 3px;
																													box-shadow: 0 2px 3px
																														rgba(0, 0, 0, 0.16);
																													display: inline-block;
																													background-color: #0e929f;
																													border-top: 10px solid
																														#0e929f;
																													border-right: 18px
																														solid #0e929f;
																													border-bottom: 10px
																														solid #0e929f;
																													border-left: 18px
																														solid #0e929f;
																												">Confirm my email
																											address</a>
																									</td>
																								</tr>
																							</tbody>
																						</table>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
															</tbody>
														</table>

														<p style="
														color: #515f7f;
														margin-top: 0;
														font-family: Panton, Avenir, Helvetica,
															sans-serif;
														box-sizing: border-box;
														text-align: left;
														font-size: 16px;
														line-height: 1.5em;
														margin-bottom: 0;
													">If you have problems, please paste the above URL into your web browser.</p>
														<a href="<%= url %>auth/VerifyEmail?Code=<%= code %>">
															<%= url %>auth/VerifyEmail?Code=<%= code %>
														</a>

														<br />
														<p style="
																	color: #515f7f;
																	margin-top: 0;
																	font-family: Panton, Avenir, Helvetica,
																		sans-serif;
																	box-sizing: border-box;
																	text-align: left;
																	font-size: 16px;
																	line-height: 1.5em;
																	margin-bottom: 0;
																">
															Thanks,
															<br />
															Team Stemnovate
														</p>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td class="spacer" style="
												font-family: Panton, Avenir, Helvetica, sans-serif;
												box-sizing: border-box;
												height: 35px;
											"></td>
								</tr>

								<tr>
									<td style="
												font-family: Panton, Avenir, Helvetica, sans-serif;
												box-sizing: border-box;
											">
										<table class="footer" align="center" width="570" cellpadding="0" cellspacing="0"
											style="
													font-family: Panton, Avenir, Helvetica, sans-serif;
													box-sizing: border-box;
													text-align: center;
													margin: 0 auto;
													padding: 10px 0;
													width: auto;
													max-width: 570px;
													-premailer-cellpadding: 0;
													-premailer-cellspacing: 0;
													-premailer-width: 570px;
												">
											<tbody>

												<tr>
													<td class="content-cell social-cell" width="20%" align="center"
														style="
																font-family: Panton, Avenir, Helvetica,
																	sans-serif;
																box-sizing: border-box;
																padding: 10px;
															">
														<a href="https://www.facebook.com/StemnovateL"
															data-ga-track="Mobile App Button" data-ga-label="Android"
															style="
																	font-family: Panton, Avenir, Helvetica,
																		sans-serif;
																	box-sizing: border-box;
																	color: #2c1bb2;
																	text-decoration: none !important;
																" target="_blank"><img src="https://ik.imagekit.io/imageapi/Stemnovate/icons/facebook-round-line_alGNFNksT.png?ik-sdk-version=javascript-1.4.3&updatedAt=1653293523931"
																width="32" height="32" alt="Facebook" style="
																		box-sizing: border-box;
																		max-width: 100%;
																		border: none;
																	" /></a>
													</td>
													<td class="content-cell social-cell" width="20%" align="center"
														style="
																font-family: Panton, Avenir, Helvetica,
																	sans-serif;
																box-sizing: border-box;
																padding: 10px;
															">
														<a href="https://twitter.com/StemnovateL"
															data-ga-track="Mobile App Button" data-ga-label="Android"
															style="
																	font-family: Panton, Avenir, Helvetica,
																		sans-serif;
																	box-sizing: border-box;
																	color: #2c1bb2;
																	text-decoration: none !important;
																" target="_blank"><img src="https://ik.imagekit.io/imageapi/Stemnovate/icons/twitter-round-line_Ewt-Reja6.png?ik-sdk-version=javascript-1.4.3&updatedAt=1653293525627"
																width="32" height="32" alt="twitter" style="
																		box-sizing: border-box;
																		max-width: 100%;
																		border: none;
																	" /></a>
													</td>
													<td class="content-cell social-cell" width="20%" align="center"
														style="
																font-family: Panton, Avenir, Helvetica,
																	sans-serif;
																box-sizing: border-box;
																padding: 10px;
															">
														<a href="https://www.instagram.com/stemnovate"
															data-ga-track="Mobile App Button" data-ga-label="Android"
															style="
																	font-family: Panton, Avenir, Helvetica,
																		sans-serif;
																	box-sizing: border-box;
																	color: #2c1bb2;
																	text-decoration: none !important;
																" target="_blank"><img src="https://ik.imagekit.io/imageapi/Stemnovate/icons/instagram-round-line_-7P6yjCH0.png?ik-sdk-version=javascript-1.4.3&updatedAt=1653293587161"
																width="32" height="32" alt="instagram" style="
																		box-sizing: border-box;
																		max-width: 100%;
																		border: none;
																	" /></a>
													</td>
													<td class="content-cell social-cell" width="20%" align="center"
														style="
																font-family: Panton, Avenir, Helvetica,
																	sans-serif;
																box-sizing: border-box;
																padding: 10px;
															">
														<a href="https://www.pinterest.co.uk/Stemnovate"
															data-ga-track="Mobile App Button" data-ga-label="Android"
															style="
																	font-family: Panton, Avenir, Helvetica,
																		sans-serif;
																	box-sizing: border-box;
																	color: #2c1bb2;
																	text-decoration: none !important;
																" target="_blank"><img src="https://ik.imagekit.io/imageapi/Stemnovate/icons/pinterest-line_JxlTeg9me.png?ik-sdk-version=javascript-1.4.3&updatedAt=1653293524721"
																width="32" height="32" alt="pinterest" style="
																		box-sizing: border-box;
																		max-width: 100%;
																		border: none;
																	" /></a>
													</td>
													<td class="content-cell social-cell" width="20%" align="center"
														style="
																font-family: Panton, Avenir, Helvetica,
																	sans-serif;
																box-sizing: border-box;
																padding: 10px;
															">
														<a href="https://www.linkedin.com/company/stemnovate-limited"
															data-ga-track="Mobile App Button" data-ga-label="Android"
															style="
																	font-family: Panton, Avenir, Helvetica,
																		sans-serif;
																	box-sizing: border-box;
																	color: #2c1bb2;
																	text-decoration: none !important;
																" target="_blank"><img src="https://ik.imagekit.io/imageapi/Stemnovate/icons/linkedin-round-line_WkmLW9uRl.png?ik-sdk-version=javascript-1.4.3&updatedAt=1653293524033"
																width="32" height="32" alt="Linkedin" style="
																		box-sizing: border-box;
																		max-width: 100%;
																		border: none;
																	" /></a>
													</td>
												</tr>
												<tr>
													<td colspan="6" class="content-cell" align="center" style="
																font-family: Panton, Avenir, Helvetica,
																	sans-serif;
																box-sizing: border-box;
																padding: 10px 25px;
															">
														<p style="
																	margin-top: 0;
																	font-family: Panton, Avenir, Helvetica,
																		sans-serif;
																	box-sizing: border-box;
																	line-height: 1.5em;
																	text-align: center;
																	margin-bottom: 0;
																	font-size: 12px;
																	color: #515f7f;
																">
															<a href="<%= url %>contact-us" target="_blank" style="
																		font-family: Panton, Avenir, Helvetica,
																			sans-serif;
																		box-sizing: border-box;
																		color: #2c1bb2;
																		text-decoration: none !important;
																	">Help centre</a>
															·
															<a href="<%= url %>terms-of-use" target="_blank" style="
																		font-family: Panton, Avenir, Helvetica,
																			sans-serif;
																		box-sizing: border-box;
																		color: #2c1bb2;
																		text-decoration: none !important;
																	">Terms &amp; Conditions</a>
															·
															<a href="<%= url %>privacy-policy" target="_blank" style="
																		font-family: Panton, Avenir, Helvetica,
																			sans-serif;
																		box-sizing: border-box;
																		color: #2c1bb2;
																		text-decoration: none !important;
																	">Privacy Policy</a>
														</p>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td>
										<div
											style="font-family:Proxima-nova,'Helvetica Neue',Helvetica,Arial,sans-serif;color:rgb(119,119,119);text-align:center;font-size:11px;line-height:1.5em;margin:15px 0px 30px;padding:0px 15px">
											<p
												style="font-family:Proxima-nova,'Helvetica Neue',Helvetica,Arial,sans-serif;color:rgb(136,136,136);margin:0px 0px 10px">
												© 2022 Stemnovate Limited (Copyright). All rights reserved.<br
													style="font-family:Proxima-nova,'Helvetica Neue',Helvetica,Arial,sans-serif;color:rgb(136,136,136)">
												Stemnovate Limited, 3 Charles Babbage Road, Cambridge, United Kingdom.
											</p>

										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</body>

</html>